/* 
paleta colores
0A141F


*/

.box {
    background-color: #0A141F;
}

.letraBlanca {
    color: white;
}

.NoSubrayado {
    text-decoration: none;
}


.login {
    letter-spacing: 5px;
}
.usuario {
    font-size: 18px;
}
.contraseña {
    font-size: 18px;
}

